/*root that creates color presets for css elements*/
:root {
    --red: #BA3330;
    --blue: #2699FB;
    --grey: #AAAAAA;
    --white: #ffffff;
    --black: #000000;
}
/*li tag targeted to change color*/
li {
    color: white;
}
/*targets * to add margin, padding, and adjusts box-sizing*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*targets the body tag and adds a background color*/
body {
    background-color: var(--white);
}
/*targets all a elements (links) and removes text-decoration and changes the color*/
a {
    text-decoration: none;
    color: white;
}
/*targets the ul elements and removes list styling*/
ul {
    list-style: none;
}
/*targets the header class and adds a background color, box-shadow, adjusts its postion, top, and width*/
.header {
    background-color: var(--grey);
    box-shadow: 1px 1px 5px 0px var(--black);
    position: sticky;
    top: 100px;
    width: 100%;
}
/*targets the nav class and adjusts its width, height, position and adds a background color. also hides any overflow*/
.nav {
    width: 50px;
    height: 100%;
    background-color: var(--grey);
    overflow: hidden;
}
/*targets the links within the nav-links class and displays as block, adjusts padding and position, and adds color*/
.nav-links a {
    display: block;
    padding: 30px;
    color: var(--blue);
    position: relative;
}
/*targets the links within the nav-links class upon hovering and changes background color and adjusts position*/
.nav-links a:hover {
    background-color: var(--red);
    position: relative;
}
/*targets the nav class and adds a max-heigh, transition, and adjusts the position*/
.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
    position: relative;
}
/*targets the hamburger class and adds a cursor element, floats to the right and adds padding*/
.hamburger {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}
/*targets the hamburger-lines class and adds a background color, height, width, and position and displays as block*/
.hamburger-lines {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
/*targets the hamburger-lines class and adds before and after properties where the background color changes, displays as block, and adds height, position, transition, and width*/
.hamburger-lines::before,
.hamburger-lines::after{
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

/*targets the hamburger-lines class once more for the before property and adjusts vertical position*/
.hamburger-lines::before {
    top: 5px;
}
/*targets the hamburger-lines class once more for the after property and adjusts vertical position*/
.hamburger-lines::after {
    top: -5px;
}
/*targets the side-menu class and displays as none*/
.side-menu {
    display: none;
}
/*targets the side-menu class once it is clicked and changes max height*/
.side-menu:checked ~ nav {
    max-height: 100%;
}
/*targets the side-menu class once clicked and siblings from hamburger and hamburger-lines classes and adds a transparent background*/
.side-menu:checked ~ .hamburger .hamburger-lines {
    background: transparent;
}
/*targets the side-menu class once clicked and siblings from hamburger and hamburger-lines classes for the before property and adds a transformation and adjusts vertical position*/
.side-menu:checked ~ .hamburger .hamburger-lines::before {
    transform: rotate(-45deg);
    top: 0;
}
/*targets the side-menu class once clicked and siblings from hamburger and hamburger-lines classes for the after property and adds a transformation and adjusts vertical position*/
.side-menu:checked ~ .hamburger .hamburger-lines::after {
    transform: rotate(45deg);
    top: 0;
}
/*media query setup for a min width of 768px*/
@media only screen and (min-width: 500px) {
/*targets the nav class and removes max-height, top, background-color, and adds position, float, and width*/
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
/*targets the nav-links class and the list items within to apply float and a position*/
    .nav-links li {
        float: left;
        position: relative;
    }
/*targets the nav-links class and the links upon hovering and applies a background color, text color, and position*/
    .nav-links a:hover {
        background-color: transparent;
        color: var(--red);
        position: relative;
    }
/*targets the hamburger class and removes display*/
    .hamburger {
        display: none;
    }
}
/*targets the site-logo class and adjusts width, margin, padding, and adds inline-block display*/
.site-logo {
    width: 10rem;
    display: inline-block;
    margin-left: 10px;
    padding-top: 20px;
}
/*targets the subnav-content class and adds background color, border, width, z-index, padding, removes display, and adds positioning*/
.subnav-content {
    background-color:  var(--white);
    border: solid 1px var(--black);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
    position: relative;
  }
/*targets the subnav-content class and the links within and adds color, padding, margin, position, and aligns center and removes text decoration*/
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    position: relative;
}
/*targets the subnav class on hover as well as the subnav-content class and displays as block and adds position*/
.subnav:hover .subnav-content {
    display: block;
    position: relative;
}
/*media query with min-width of 500px*/
@media only screen and (min-width: 500px) {
    /*targets the subnav-content class and adds padding and background color, and removes display*/
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var(--white);
    }
/*targets the subnav-content class and the links within and changes color*/
    .subnav-content a {
        color: var(--black);
    }
}
/*targets the footer logo class and adds opacity, width and padding*/
.footer-logo {
    opacity: 50%;
    width: 120px;
    padding: 10px;
}
/*targets the justice-league-poster class and adds width, border radius, padding, height, and adjusts object fit and grid column*/
.justice-league-poster {
    width: 50rem;
    border-radius: 10%;
    padding-left: 20px;
    height: 25rem;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1;
}
/*targets the content-showcase class and displays as grid and establishes grid columns and grid gap*/
.content-showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}
/*targets the basketball-highlight class and displays as grid and establishes grid columns and grid gap*/
.basketball-highlight {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
}
/*targets the banner-buttons class and adds grid column, grid gap, coluumn gap, padding and aligns in the center*/
.banner-buttons {
    grid-column: 2;
    grid-gap: 20px;
    column-gap: 20px;
    padding-right: 20px;
    align-items: center;
}
/*targets the category-button class and adds background color, text color, grid column, width, padding, border radius, and changes font size, and removes text-decoration*/
.category-button {
    background-color: var(--red);
    color: var(--white);
    grid-column: 2;
    width: 20rem;
    padding: 2rem;
    text-decoration: none;
    color: var(--white) !important;
    border-radius: 30%;
    font-size: 20pt;
}
/*targets the influences-button class and adds background color, text color, grid column, width, padding, border radius, and changes font size, and removes text-decoration*/
.influences-button {
    background-color: var(--blue);
    color: var(--white);
    grid-column: 2;
    width: 20rem;
    padding: 2rem;
    border-radius: 30%;
    font-size: 20pt;
}
/*targets the portfolio-button class and adds background color, text color, grid column, width, padding, border radius, and changes font size, and removes text-decoration*/
.portfolio-button {
    background-color: var(--grey);
    color: var(--white);
    grid-column: 2;
    width: 20rem;
    padding: 2rem;
    border-radius: 30%;
    font-size: 20pt;
}
/*targets the basketball-net-image class and changes width and padding and adds border radius and grid column*/
.basketball-net-image {
    width: 50%;
    border-radius: 5%;
    grid-column: 1;
    padding-left: 20px;
}
/*targets the basketball-text and adds grid column, padding, and aligns the text*/
.basketball-text {
    grid-column: 1;
    padding-left: 20px;
    text-align: right;
    padding-right: 28rem;
}
/*targets the banner-text class and establishes position, adds padding, text transform, color, text shadow, and aligns text*/
.banner-text {
    position: absolute;
    padding-left: 6rem;
    padding-top: 14rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: -2px -2px var(--blue),
                  2px -2px var(--blue),
                -2px 2px var(--blue),
                 2px 2px var(--blue);;
}
/*targets the banner-image class and adds width, border radius, height, padding, grid column, and object fit*/
.banner-image {
    width: 100%;
    border-radius: 10%;
    height: 30rem;
    object-fit: cover;
    padding-top: 20px;
    padding-left: 20px;
    grid-column: 1;
}
/*targets the banner-subtext class and aligns text, adds grid column and padding, and changes font size*/
.banner-subtext {
    text-align: left;
    grid-column: 2;
    padding-right: 20px;
    padding-top: 2rem;
    font-size: 20pt;
}
/*targets the banner-grid class and displays as grid, establishes grid columns and adds column and grid gap*/
.banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-gap: 10px;
}
/*targets the footer-grid class and displays as grid and establishes grid columns and adds column gap*/
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
/*targets the content-heading class and adds padding, color, text transform, text decoration and aligns text*/
.content-heading {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: underline;
}
/*targets the content-button class and adds background color, grid column, width, padding, height, color, border radius, removes text decoration, and aligns text and items*/
.content-button {
    background-color: var(--red);
    grid-column: 3;
    width: 20rem;
    padding: 2rem;
    height: 6rem;
    text-decoration: none;
    color: var(--white) !important;
    border-radius: 30%;
    text-align: center;
    align-items: center;
}
/*targets the content-text class and adds color and padding and aligns text*/
.content-text {
    color: var(--blue);
    text-align: center;
    padding-top: 20px;
}
/*targets the banner-button class and adds color, displays as flex, centers content, and removes text-decoration*/
.banner-button {
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*targets the fantastic-four-image class and adds width, border-radius, padding, height, object fit and grid column*/
.fantastic-four-image {
    width: 50rem;
    border-radius: 15%;
    padding-left: 20px;
    height: 25rem;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1;
}
/*targets the avengers-poster class and adds width, border-radius, padding, height, object fit and grid column*/
.avengers-poster {
    width: 50rem;
    border-radius: 15%;
    padding-left: 20px;
    height: 25rem;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 20px;
    grid-column: 1;
}
/*targets the nav class and the list items and links within and adds color and aligns text*/
.nav li a {
    color: var(--black);
    text-align: center;
}
/*targets the subnav-link class and adds color*/
.subnav-link {
    color: var(--black) !important;
}
/*targets the site-title class and displays as flex, adds flex direction, padding, color, and centers items*/
.site-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 3rem;
    color: var(--white);
    padding-right: 15rem;
}
/*targets the movie-film class and adds width and border radius*/
.movie-film {
    width: 20rem;
    border-radius: 5%;
}
/*targets the comics-image class and adds width and border radius*/
.comics-image {
    width: 20rem;
    border-radius: 5%;
}
/*targets the superheroes-image class and adds width and border radius*/
.superheroes-image {
    width: 20rem;
    border-radius: 5%;
}
/*targets the bio-image class and adds width, grid column, object fit, and displays as flex and centers items*/
.bio-image {
    width: 30rem;
    grid-column: 2;
    object-fit: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*targets the navigation class and adds background color and padding, and displays as flex and establishes position*/
.navigation {
    background-color: var(--blue);
    display: flex;
    position: static;
    padding-bottom: 20px;
}
/*targets the footer class and adds background color and displays as flex*/
footer {
    background-color: var(--blue);
    display: flex;
}
/*targets the footer-copyright class and adds color, grid column, padding, displays as flex, and centers items*/
.footer-copyright {
    color: rgba(255, 255, 255, 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    grid-column: 2;
    padding-left: 11rem;
}
/*targets the top-skip class and adds color, grid column, padding, displays as flex, and centers items*/
.top-skip {
    color: rgba(255, 255, 255, 50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    grid-column: 3;
    padding-left: 21rem;
}
/*targets the top-skip-a class and adds color and removes text-decoration*/
.top-skip-a {
    color: var(--white);
    text-decoration: none;
}
/*targets the fa-search class and adjusts size, and adds grid column, padding, and color*/
.fa-search {
    size: 50px;
    grid-column: 3;
    padding-left: 10rem;
    padding-top: 5rem;
    color: var(--white);
}
/*targets the twitter-logo class and adds width, padding, and grid column*/
.twitter-logo {
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    grid-column: 1;
}
/*targets the instagram-logo class and adds width, padding, and grid column*/
.instagram-logo {
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    grid-column: 1;
}
/*targets the behance-logo class and adds width, padding, and grid column*/
.behance-logo {
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    grid-column: 1;
}
/*targets the form class and displays as grid and establishes the grid columns*/
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*targets the name-input class and adds border, border radius, background color and padding*/
.name-input {
    border: 2px solid var(--black);
    border-radius: 4px;
    background-color: var(--white);
    padding: 10px;
}
/*targets the email-input class and adds border, border radius, background color and padding*/
.email-input {
    border: 2px solid var(--black);
    border-radius: 4px;
    background-color: var(--white);
    padding: 10px;
}
/*targets the message-input class and adds width, height, margin, border, border radius, background color, and adjusts box sizing*/
.message-input {
  width: 100%;
  height: 200px;
  margin-left: 15rem;
  box-sizing: border-box;
  border: 2px solid var(--black);
  border-radius: 4px;
  background-color: var(--white);
}
/*targets the message-h class and adds padding and margin and aligns text*/
.message-h {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 15rem;
}
/*targets the submit-button class and adds color, background color, text transform, padding, margin, and aligns text*/
.submit-button {
    color: var(--white);
    background-color: var(--blue);
    text-transform: uppercase;
    align-items: center;
    padding: 15px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 45rem;
    text-align: center;
}
/*targets the name-email-input class and displays as grid, adds column gap, padding, and establishes grid columns*/
.name-email-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-left: 33rem;
}
/*targets the about-title class and aligns text, adds text decoration, font weight and padding*/
.about-title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 10px;
}
/*targets the bio-heading class and adds text transform, padding, color, and font size*/
.bio-heading {
    text-transform: uppercase;
    padding-left: 20px;
    color: var(--blue);
    font-size: 30pt;
}
/*targets the bio-container and displays as grid, adds column gap and padding, and establishes grid columns*/
.bio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-left: 20px;
}
/*targets the bio-para class and adds grid column and font size*/
.bio-para {
    grid-column: 1;
    font-size: 20pt;
}
/*targets the influences class and adds text transform, color, padding, and font size*/
.influences {
    text-transform: uppercase;
    color: var(--blue);
    padding-left: 20px;
    font-size: 30pt;
}
/*targets the movies-heading class and adds text transform, color, text shadow, padding, font size, aligns text, and adjusts position*/
.movies-heading {
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    text-shadow: -1px -1px var(--black),
                 1px -1px var(--black),
                -1px 1px var(--black),
                 1px 1px var(--black);
    position: absolute;
    padding-top: 10rem;
    padding-left: 33rem;
    font-size: 100pt;
}
/*targets the movie-film class and adds width, border radius, margin, height, object fit, padding, and displays as block*/
.movie-film {
    width: 75%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 30rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*targets the comics-heading class and adds text transform, color, text shadow, padding, font size, aligns text, and adjusts position*/
.comics-heading {
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    text-shadow: -1px -1px var(--black),
                 1px -1px var(--black),
                -1px 1px var(--black),
                 1px 1px var(--black);
    padding-top: 10rem;
    padding-left: 30rem;
    font-size: 100pt;
    position: absolute;
}
/*targets the comics-image class and adds width, border radius, margin, height, object fit, padding, and displays as block*/
.comics-image {
    width: 75%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 30rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*targets the superheroes-heading class and adds text transform, color, text shadow, padding, font size, aligns text, and adjusts position*/
.superheroes-heading {
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    text-shadow: -1px -1px var(--black),
                 1px -1px var(--black),
                -1px 1px var(--black),
                 1px 1px var(--black);
    position: absolute;
    padding-top: 10.5rem;
    padding-left: 21rem;
    font-size: 90pt;
}
/*targets the superheroes-image class and adds width, border radius, margin, height, object fit, padding, and displays as block*/
.superheroes-image {
    width: 75%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 30rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*targets the my-life class and adds text transform, color, padding, and font size*/
.my-life {
    text-transform: uppercase;
    color: var(--blue);
    padding-left: 20px;
    font-size: 30pt;
    padding-bottom: 10px;
}
/*targets the life-image class and adds width, border radius, margin, height, object fit, and displays as block*/
.life-image {
    width: 75%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 40rem;
}
/*targets the life-para class and adds padding and font size*/
.life-para {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20pt;
    padding-top: 15px;
}
/*targets the social-media-links class and displays as grid, establishes grid columns and adds column gap*/
.social-media-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}
/*targets the social-text class and adds color, padding, font size and aligns text*/
.social-text {
    color: var(--black);
    text-align: center;
    padding-top: 8rem;
    font-size: 30pt;
}
/*targets the social-buttons class and adds background color, color, grid column, width, border radius, font size, height, padding, and removes text decoration*/
.social-buttons {
    background-color: var(--red);
    color: var(--white);
    grid-column: 3;
    width: 20rem;
    text-decoration: none;
    color: var(--white) !important;
    border-radius: 30%;
    font-size: 20pt;
    padding-left: 8rem;
    height: 10rem;
    padding-top: 3.5rem;
}
/*targets the social-email class and adds padding, font size, and width*/
.social-email {
    padding: 10px;
    font-size: 30pt;
    width: 4rem;
}
/*targets the home-contact class and aligns text, and adds padding*/
.home-contact {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*targets the home-about class and aligns text, and adds padding*/
.home-about {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*readjusts elements to each tag, class, and div to fit in a mobile size*/
@media only screen and (max-width: 767px) {
    a {
        text-decoration: none;
        color: var(--black);
    }
    .site-logo {
        width: 45px;
    }
    .site-title {
        color: var(--blue);
        font-size: 12pt;
        text-align: center;
    }
    .nav {
        text-align: center;
    }
    .navigation {
        background-color: var(--white);
        color: var(--black);
    }
    .banner-grid {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        grid-gap: 10px;
    }
    .banner-image {
        width: 26.4rem;
        border-radius: 10%;
        height: 15rem;
        object-fit: cover;
        padding-top: 10px;
        padding-left: 10px;
        grid-column: 1;
    }
    .banner-text {
        position: absolute;
        padding-left: 1rem;
        padding-top: 6.5rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: -1px -1px var(--blue),
                      1px -1px var(--blue),
                    -1px 1px var(--blue),
                     1px 1px var(--blue);;
    }
    .banner-subtext {
        text-align: left;
        grid-column: 1;
        padding-left: 20px;
        padding-top: 1rem;
        font-size: 15pt;
    }
    .banner-buttons {
        grid-column: 1;
        grid-gap: 20px;
        column-gap: 20px;
        padding-right: 20rem;
        align-items: center;
        padding-left: 4rem;
    }
    .category-button {
        background-color: var(--red);
        color: var(--white);
        width: 20rem;
        padding: 2rem;
        text-decoration: none;
        color: var(--white) !important;
        border-radius: 30%;
        font-size: 20pt;
        grid-column: 1;
    }
    .influences-button {
        background-color: var(--blue);
        color: var(--white);
        width: 20rem;
        padding: 2rem;
        border-radius: 30%;
        font-size: 20pt;
        grid-column: 1;
    }
    .portfolio-button {
        background-color: var(--grey);
        color: var(--white);
        width: 20rem;
        padding: 2rem;
        border-radius: 30%;
        font-size: 20pt;
        grid-column: 1;
    }
    .basketball-highlight {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 1em;
    }
    .port-high {
        text-transform: uppercase;
        color: var(--blue);
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .basketball-net-image {
        display: grid;
        justify-content: center;
        grid-column: 1;
        width: 27rem;
    }
    .fantastic-four-image {
        width: 26rem;
        height: 15rem;
        object-fit: cover;
    }
    .content-text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
    }
    .justice-league-poster {
        width: 26rem;
        height: 15rem;
        object-fit: cover;
    }
    .avengers-poster {
        width: 26rem;
        height: 15rem;
        object-fit: cover;
    }
    .content-button {
        grid-column: 1;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-about {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-about {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        color: var(--white);
        text-decoration: none;
    }
    .footer-grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    .footer-logo {
        width: 10px;
    }
    .footer-copyright {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .bio-image {
        grid-column: 1;
        padding-right: 4rem;
        padding-bottom: 20px;
    }
    .about-title {
        font-size: 20pt;
        text-decoration: none;
        color: var(--blue);
    }
    .bio-heading {
        font-size: 20pt;
    }
    .bio-para {
        font-size: 12pt;
        padding-right: 4rem;
    }
    .movie-film {
        width: 25rem;
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        height: 20rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .movies-heading {
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        text-shadow: -1px -1px var(--black),
                     1px -1px var(--black),
                    -1px 1px var(--black),
                     1px 1px var(--black);
        padding-top: 8rem;
        padding-left: 7rem;
        font-size: 50pt;
        position: absolute;
    }
    .comics-image {
        width: 25rem;
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        height: 20rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .comics-heading {
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        text-shadow: -1px -1px var(--black),
                     1px -1px var(--black),
                    -1px 1px var(--black),
                     1px 1px var(--black);
        padding-top: 8rem;
        padding-left: 6rem;
        font-size: 50pt;
        position: absolute;
    }
    .superheroes-image {
        width: 25rem;
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        height: 20rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .superheroes-heading {
        text-transform: uppercase;
        text-align: center;
        color: var(--white);
        text-shadow: -1px -1px var(--black),
                     1px -1px var(--black),
                    -1px 1px var(--black),
                     1px 1px var(--black);
        padding-top: 8rem;
        padding-left: 2.5rem;
        font-size: 40pt;
        position: absolute;
    }
    .life-image {
        width: 25rem;
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        height: 20rem;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .life-para {
        font-size: 13pt;
    }
    .twitter-logo {
        width: 22rem;
        padding-left: 6rem;
        padding-top: 20px;
    }
    .instagram-logo {
        width: 22rem;
        padding-left: 6rem;
        padding-top: 20px;
    }
    .behance-logo {
        width: 22rem;
        padding-left: 6rem;
        padding-top: 20px;
    }
    .social-text {
        grid-column: 1;
        padding-right: 20rem;
        align-items: center;
        padding-left: 8.5rem;
        font-size: 20pt;
    }
    .social-email {
        padding-left: 4rem;
        font-size: 15pt;
        width: 100%;
    }
    .social-buttons {
        background-color: var(--red);
        color: var(--white);
        grid-column: 1;
        width: 20rem;
        text-decoration: none;
        color: var(--white) !important;
        border-radius: 30%;
        font-size: 15pt;
        padding-left: 8rem;
        height: 6rem;
        padding-top: 3.5rem;
        text-align: center;
    }
    .form {
        display: grid;
        grid-template-columns: 1fr;
    }
    .name-input {
        border: 2px solid var(--black);
        border-radius: 4px;
        background-color: var(--white);
        padding: 10px;
    }
    .email-input {
        border: 2px solid var(--black);
        border-radius: 4px;
        background-color: var(--white);
        padding: 10px;
    }
    .message-input {
        width: 30rem;
        height: 200px;
        margin-left: 1rem;
        box-sizing: border-box;
        border: 2px solid var(--black);
        border-radius: 4px;
        background-color: var(--white);
    }
    .message-h {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin-left: 1rem;
    }
    .home-contact {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .submit-button {
        color: var(--white);
        background-color: var(--blue);
        text-transform: uppercase;
        align-items: center;
        padding: 15px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 11rem;
        text-align: center;
    }
    .name-email-input {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        padding-left: 1rem;
    }
}