h1 {
    color: blue;
}

.site-logo {
    width: 20%;
}
.justice-league-poster {
    width: 50%;
}

.basketball-net-image {
    width: 50%;
}

.banner-image {
    width: 50%;
}

.fantastic-four-image {
    width: 50%;
}

.avengers-poster {
    width: 50%;
}